<div class="flex-grow p-6 md:overflow-y-auto md:p-12">
	<main class="container md:container mx-auto">
		<div class="md:mx-auto w-full bg-white overflow-x-auto md:block">
			<!-- select for export -->
			<div class="p-4 grid grid-cols-2">
				<select class="select select-bordered max-w-xs" id="export">
					<option disabled selected>Export to ?</option>
					<option value='excel'>EXCEL</option>
				</select>
			</div>
			<div class="overflow-x-auto md:block">
				<table aria-label="load data customer" class="table-auto">
					<thead class="bg-gray-50 border-b-2 border-gray-200">
						<tr>
							<th class="border p-3 text-sm font-semibold tracking-wide text-left">
								<input type="checkbox" class="checkbox" id="selectAll" checked />
							</th>
							<th class="border p-3 text-sm font-semibold tracking-wide text-left">NO</th>
							<th class="border p-5 text-sm font-semibold tracking-wide text-left">CARD NUMBER</th>
							<th class="border p-4 text-sm font-semibold tracking-wide text-left">FIRST NAME</th>
							<th class="border p-8 text-sm font-semibold tracking-wide text-left">DOB</th>
							<th class="border p-3 text-sm font-semibold tracking-wide text-left">CURRENT BALANCE</th>
							<th class="border p-3 text-sm font-semibold tracking-wide text-left">LAST PAYMENT AMOUNT</th>
							<th class="border p-3 text-sm font-semibold tracking-wide text-left">GA/LP</th>
							<th class="border p-3 text-sm font-semibold tracking-wide text-left">LEADER</th>
							<th class="border p-3 text-sm font-semibold tracking-wide text-left">COLLECTOR</th>
							<th class="border p-3 text-sm font-semibold tracking-wide text-left">ACTION</th>
							<th class="border p-3 text-sm font-semibold tracking-wide text-left">DESCRIPTION</th>
							<th class="border p-3 text-sm font-semibold tracking-wide text-left">PERMANENT MESSAGES</th>
						</tr>
					</thead>
					<tbody>
						{{#with viewData}}
							{{#each accounts as |account| }}
								<tr>
									<td class="border p-3 text-sm text-gray-700">
										<input type="checkbox" checked="checked" class="checkbox" name="selectedItems" value="{{account.card_number}}" />
									</td>
									<td class="border p-3 text-sm text-gray-700">{{indexPage @index ../currentPage ../limit}}</td>
									<td class="border p-3 text-sm text-gray-700">{{account.card_number}}</td>
									<td class="border p-3 text-sm text-gray-700">{{account.first_name}}</td>
									<td class="border p-3 text-sm text-gray-700">{{formatDate account.dob}}</td>
									<td class="border p-3 text-sm text-gray-700">{{formatNumber (parseNumber account.current_balance)}}</td>
									<td class="border p-3 text-sm text-gray-700">{{formatNumber (parseNumber account.last_payment_amount)}}</td>
									<td class="border p-3 text-sm text-gray-700">{{account.type_account}}</td>
									<td class="border p-3 text-sm text-gray-700">{{account.leader}}</td>
									<td class="border p-3 text-sm text-gray-700">{{account.collector}}</td>
									<td class="border p-3 text-sm text-gray-700">{{account.action}}</td>
									<td class="border p-3 text-sm text-gray-700">{{account.description}}</td>
									<td class="border p-3 text-sm text-gray-700">{{account.permanent_messages}}</td>
								</tr>
							{{/each}}
						{{/with}}
					</tbody>
				</table>
			</div>
			<div class="join flex justify-center p-4">
				<!-- prev button -->
				<button class="join-item btn-outline btn-square btn-info hover:btn-info active:btn-info text-white"
				{{#if (eqPage viewData.currentPage 1)}}
					disabled
				{{ else }}
				{{/if}}
				onclick="window.location.href='list?page=1'"
			 >&lt;&lt;</button>

				<!-- first page -->
				<button class="join-item btn btn-info btn-square hover:btn-info active:btn-info text-white"
				{{#if (eqPage viewData.currentPage 1)}}
					disabled
				{{ else }}
				{{/if}}
							 onclick="window.location.href='list?page={{#if (eqPage viewData.currentPage 1)}}{{viewData.currentPage}}{{else}}{{subPage viewData.currentPage 1}}{{/if}}'"
					>
					{{#if (eqPage viewData.currentPage 1)}}
						{{viewData.currentPage}}
					{{ else }}
						{{subPage viewData.currentPage 1 }}
					{{/if}}
				</button>

				<!-- current page -->
				<button class="join-item btn-outline btn-square btn-info hover:btn-primary active:btn-primary text-white"
					disabled
					>
					{{#if (eqPage viewData.currentPage 1)}}
						...
					{{ else }}
						{{viewData.currentPage}}
					{{/if}}
				</button>

				<!-- next page -->
				<button class="join-item btn btn-info btn-square hover:btn-info active:btn-info text-white"
				{{#if (eqPage viewData.currentPage viewData.pages)}}
					disabled
				{{ else }}
				{{/if}}
							 onclick="window.location.href='list?page={{#if (eqPage viewData.currentPage viewData.pages)}}{{viewData.currentPage}}{{else}}{{addPage viewData.currentPage viewData.pages}}{{/if}}'"
					>
					{{#if (eqPage viewData.currentPage viewData.pages)}}
						...
					{{ else }}
						{{addPage viewData.currentPage viewData.pages}}
					{{/if}}
				</button>

				<!-- last page -->
				<button class="join-item btn-outline btn-square btn-info hover:btn-info active:btn-info text-white"
				{{#if (eqPage viewData.currentPage viewData.pages)}}
					disabled
				{{ else }}
				{{/if}}
							 onclick="window.location.href='list?page={{viewData.pages}}'"
			 >&gt;&gt;</button>

			</div>
		</div>
	</main>
</div>
 <script>
	 document.getElementById('export').addEventListener('change', function() {
		 var selectedValue = this.value;
		 handleSelectionChange(selectedValue);
	 });

	 document.addEventListener('DOMContentLoaded', function() {
		 const checkAll = document.getElementById('selectAll');
		 const checkBoxes = document.querySelectorAll('input[name="selectedItems"]');

		 checkAll.addEventListener('change', function() {
			 checkBoxes.forEach((checkbox) => {
				 checkbox.checked = checkAll.checked;
			 });
		 });

		 checkboxes.forEach((checkbox) => {
			 checkbox.addEventListener('change', function() {
				 checkAll.checked = [...checkboxes].every((cb) => cb.checked);
			 });
		 });
	 });

	 document.getElementById('selectID').addEventListener('change', function() {
		 var checkedValue = this.value;
		 var selectedValue = document.getElementById('export').value;
		 handleSelectionChange(selectedValue, checkedValue);
	 });

	 function handleSelectionChange(selectedValue, checkedValue) {
		 if (checkedValue !== "") {
			 window.location.href= `/files/export?format=${selectedValue}&select=${checkedValue}`;
		 } else {
			 window.location.href= `/files/export?format=${selectedValue}`;
		 }
	 }
 </script>
